/**********************
* HEADER
**********************/
.adtional-header.header {
    height: 300px;
}
.header-center-menu {
    height: 100%;
    text-align: center;
}
.header-center-menu .table-cell {
    vertical-align: middle;
}
.header-center-menu .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 80px;
}
.header-center-menu ul li a {
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.header-center-menu .breadcrumb li a.active {
    color: #E74C3C;
}
/*
	Dropdown
*/
.main-menu ul li ul {
    background: #34495E;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 42px;
    transition: all 0.3s cubic-bezier(.86,0,.07,1) .2s;
    width: 200px;
}
.main-menu ul li ul li a {
    border-bottom: 1px solid #5f605f;
    display: inline-block;
    padding: 10px 14px;
    width: 100%;
}
.main-menu ul li ul li {
    width: 100%;
}
.main-menu ul li ul li:last-child a {
    border: medium none;
}
.main-menu ul li:hover ul {
    opacity: 1;
    top: 0;
    transform: translate(0px, 10px);
}

/**********************
* SIDEBAR
**********************/
.sidebar-widget-search input {
    border-color: #E74C3C;
}
.sidbar-widget-search form input {
    border-color: #E74C3C;
    z-index: 0 !important;
    border-radius: 0;
}
.sidbar-widget-search form a {
    background: #E74C3C none repeat scroll 0 0;
    border-color: #E74C3C;
    color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 0;
}
.sidbar-widget-search form a:hover {
    background: transparent none repeat scroll 0 0;
    color: #E74C3C;
}
.widget-header h3 {
    border-bottom: 1px solid #bababa;
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 12px;
}

.sidbar-widget-catagoris .widget-content ul li a {
    color: #252525;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    transition: .3s;
}
.widget-content {
    margin-top: 28px;
}
.sidbar-widget-catagoris .widget-content ul li a.active {
    color: #E74C3C;
}
.sidbar-widget-catagoris .widget-content ul li a:hover {
    color: #E74C3C;
}
.media-body .date {
    color: #666666;
    font-weight: 300;
}
.widget-content .media-body p {
    line-height: 24px;
    margin-top: 6px;
    color: #252525;
    text-decoration: none;
}
.main-content .col-md-8 .row .col-md-6 .blog-colam {
    margin-bottom: 60px;
}



/*
	Pagination
*/
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
	border-radius: 0;
}
.pagination > li > a, 
.pagination > li > span {
	border-color: #2e2e2e;
	color: #2e2e2e;
	transition: .3s;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background: #E74C3C;
	border-color: #E74C3C;
	color: #fff;
	cursor: pointer;
}

/*
    Single Post
*/
.blog-post-content h4 {
    color: #252525;
    font-family: "Raleway",sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 45px;
}
.blog-post-content .date {
    color: #545252;
}
.blog-post-content > p {
    color: #3b3a3a;
    font-size: 14px;
    line-height: 26px;
    margin-top: 15px;
}
.comment-heading h4 {
    font-size: 24px;
    margin-top: 55px;
    position: relative;
    margin-bottom: 75px;
}
.comment-heading h4::after {
    background: #aeaeac none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 300px;
}
.comment-now .media-body p {
    color: #545252;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.comment-now .media-body {
    width: 500px;
}
.comment-now .media {
}
.media-body .reply-btn {
    color: #252525;
    font-weight: 600;
}
.media.reply {
    margin-top: 25px;
}
.media.coment-main {
    border-bottom: 1px solid #aeaeac;
    margin-top: 30px;
    padding-bottom: 40px;
}
.media.coment-main:last-child {
    border-bottom: 0 none;
}

.comment-box input, .comment-box textarea {
    border-color: #e1e1e1;
    border-radius: 0;
    color: #545252;
    font-weight: 300;
    height: 43px;
    margin-bottom: 20px;
}
.comment-box input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0 26px;
    transition: all 0.3s ease 0s;
}
.comment-box textarea {
    height: 102px;
    margin-bottom: 0;
    padding-top: 12px;
    resize: none;
}
.comment-box input[type="submit"]:hover {
    background: #ff0000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
.comment-box {
    margin-top: 20px;
}
.my-btn.portfolio-more {
    margin-top: 70px;
    text-align: center;
}